.container-criar {
  display: flex;
  flex-direction: column;

  background-color: rgb(248, 248, 247);
  padding: 25px;
  border: 1px solid bisque;
  border-radius: 10px;
}

.info-criar {
  margin: 0 auto;
}

.inputs-criar {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.inputs-criar label {
  margin: 0 0 10px 0;
}

.inputs-criar input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.inputs label {
  margin: 0 0 10px 0;
}

.inputs input {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 10px;
}
