.move-sair {
  display: none;
}

@media (min-width: 760px) {
  .form-login {
    position: fixed;
    top: 10vh;
    right: 0;
    margin: 10px 10px 0 0;
    transform: translateX(300px);
    animation: aparecer-Login 1s forwards;
  }

  @keyframes aparecer-Login {
    to {
      transform: translateX(-10px);
    }
  }

  .form-logar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 300px;

    border: 2px groove #b38966;
    border-radius: 15px;

    background: #ffffff;
  }

  .form-logar h1 {
    text-shadow: 1px 3px 2px #e84a05;
    font-size: 2.1em;
    font-weight: bold;

    margin: 20px 0 60px 0;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
