.move-sair {
  display: none;
}

@media (min-width: 760px) {
  .container-input-span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-cadastro {
    position: fixed;
    top: 10vh;
    right: 0;
    margin: 10px 10px 0 0;
    transform: translate(700px);
    animation: aparecer-Cadastro 1s forwards;
  }

  @keyframes aparecer-Cadastro {
    to {
      transform: translateX(-10px);
    }
  }

  .form-cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;

    border: 2px groove #b38966;
    border-radius: 15px;

    background-color: #ffffff;
  }

  .form-cadastrar h1 {
    text-shadow: 1px 3px 2px #e84a05;
    font-size: 2.1em;
    font-weight: bold;
    margin: 20px 0 60px 0;
  }

  .cadastro-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
